defaults:
  hostname:           https://docs.taskcluster.net
  port:               !env:number PORT
  forceSSL:           false
  trustProxy:         false
  events:
    statsComponent:   events
  env:                !env ENV

  pulse:
    username:         !env PULSE_USERNAME
    password:         !env PULSE_PASSWORD

  taskcluster:
    credentials:
      accessToken:    !env TASKCLUSTER_ACCESS_TOKEN
      clientId:       !env TASKCLUSTER_CLIENT_ID

  aws:
    region:           !env AWS_REGION
    bucket:           !env LOG_BUCKET
    credentials:
      accessKeyId:      !env AWS_ACCESS_KEY_ID
      secretAccessKey:  !env AWS_SECRET_KEY
